body {
    background-color: #F7F9FB;
    color: #3B3B3B;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.menu_principal {
    display: flex;
    justify-content: space-around;
    background-color: #1F4E79;
    color: #F7F9FB;
    padding: 15px;
    margin: 20px;
}

